{% extends "base.html" %}

{% block start %}

    <h1>Expense Tracker</h1>
    <a class='btn' style="background: brown; width:80px;" href="{% url 'logout_view' %}">Logout</a>

    {{request.user.username}}

    {{request.user.first_name}}

    {{request.user.last_name}}

    
    <div class="container">
      <div class="container">
        <div class="header">
            <img src="https://i.ibb.co/jfScDTC/budget.png" alt="Expense Tracker" />
            <div class="balance-container">
                <h2>Your Balance</h2>
                <h2 id="balance" class="balance">${{current_balance.current_balance}}</h2>
            </div>
        </div>
        <div class="inc-exp-container">
            <div>
                <h4>Income</h4>
                <p id="money-plus" class="money plus">+${{income}}</p>
            </div>
            <div>
                <h4>Expenses</h4>
                <p id="money-minus" class="money minus">${{expense}}</p>
            </div>
        </div>
        <h3>History</h3>


        <ul id="list" class="list">
            {% for transaction in transactions %}

            <li class="{% if transaction.expence_type == 'DEBIT' %} minus {% else %} plus {% endif %}">
                {{transaction.description}} <span> {{transaction.amount}} </span>
                
                <a class="delete-btn" href="{% url 'delete_transaction' transaction.id %}">
                <i class="fa-solid fa-trash-can"></i></a>
            </li>
            {% endfor %}
        </ul>


      <h3>Add new transaction</h3>
      <!-- Expense form -->
      <form method="POST" id="form">
        {% csrf_token %}
        <div class="form-control">
            <label for="text">Description</label>
            <input type="text" name="description" id="text" placeholder="Enter description..." />
        </div>
        <div class="form-control">
            <label for="amount">Amount <br />
                <small>(-100 = expense, 100 = income)</small></label>
            <input type="number" name="amount" id="amount" placeholder="Enter amount..." />
        </div>
        <button class="btn" type="submit">Add transaction</button>
    </form>
    </div>
    <!-- Notification -->
    <div class="notification-container" id="notification">
      <p>Please add a description and amount</p>
    </div>


   

{% endblock  %}