{% extends "base.html" %} {% block start %}
<div style="margin-top: -80px; !important">
    <h1>Register Page</h1> <hr>
  <form method="POST" id="form">
    {% csrf_token %}
    <div class="form-control">
      <label for="text">Username <br><small>username must be unique</small></label>
      <input type="text" name="username" id="text" placeholder="Usernmae..." />
    </div>
    <div class="form-control">
      <label for="text">First_name</label>
      <input type="text" name="first_name" id="text" placeholder="First Name" />
    </div>
    <div class="form-control">
      <label for="text">Last_name</label>
      <input type="text" name="last_name" id="text" placeholder="lastName" />
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input
        type="number"
        name="password"
        id="password" 
        placeholder="Password"
      />
    </div>

    <p>Already have an acoount <a href="{% url 'login_page'%}"> Login</a></p>
    <button class="btn" type="submit">Register</button>
  </form>
</div>

{% endblock %}
